<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-02.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

        <h1 class="p-b-31">¡Hola! ¡Bienvenido!</h1>

        <div class="container-login100-form-btn p-t-8">
          <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn"
                      routerLink="/auth/loginr"
                      type="submit">
                  Regresar
              </button>
          </div>
      </div>
      </div>
  </div>
</div>